<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EventLogSource" value="RecipeAppSource" />
    <add key="EventLogName" value="RecipeAppLog" />
    <add key="TimerServiceStatusInterval" value="300000" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="RecipeServiceBehavior" name="MealsLibrary1.RecipeLibrary">
        <endpoint address="" binding="wsHttpBinding" contract="MealsLibrary1.IRecipeLibrary" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/ProjectApp/RecipeLibrary" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="RecipeServiceBehavior">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>